table {
    border-collapse: collapse;
}

td, th {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background: darkblue;
    text-align: center;
    color: white;
}

tbody tr:hover {
    background: #eee;
  }